<div class="top-index">
  <div class="top-index_body">
    <div class="top-index_explanation">
      aaaaaaaaaaaaaaaaaaaaaaaaaa
    </div>
    <div class="top-index_slideshow">
      <div class="box top-index_slideshow_box">
        <div class="bgImg src1"></div>
        <div class="bgImg src2"></div>
        <div class="bgImg src3"></div>
        <div class="bgImg src4"></div>
      </div>
    </div>
  </div>
</div>