<div class="top-index">
  <div class="top-index_body">
    <div class="top-index_explanation">
      <h2>Welcome to Oneness</h2>

      このアプリはヨギーにのためのプラットフォームです。<br>
      stay homeでworkoutの環境ですら大きな変化がありました。 
      1人でヨガをしていては誰もポーズをみてくれない、1人で続けていくモチベーション、
      同じシークエンスを一緒にやって生まれるあのスタジオの空間を取り戻すことができます。 
      また、オンラインになったこそ、ポーズの写真や日記などで振り返る時間ができて
      かつヨギーたちとのつながりを楽しむ、新しいヨガの様式を体験できます。<br>

      
      This app is for all yoga loves to be oneness
      When you do yoga by yourself ,  No one can see your yoga. Do you feel isolated ? No worries. Best Yoga App For All Leves is  here.
       You can connct your favorite ppl, post your yoga pose and write your daily dialy as well, don't need to feel lonly anymore! Let's get started!!
    </div>
    <div class="top-index_slideshow">
      <div class="box top-index_slideshow_box">
        <div class="bgImg src1"></div>
        <div class="bgImg src2"></div>
        <div class="bgImg src3"></div>
        <div class="bgImg src4"></div>
      </div>
    </div>
  </div>
</div>