<div class="favorite">
    <div class="pics">＿/＿/＿/<%= @user.name %>お気に入り一覧画面＿/＿/＿/</div>
    <div class="posts-index_list">

        <%= render @posts %>
    </div>
    <%= link_to 'マイページ', edit_user_registration_path(current_user.id) if current_user != nil%>
</div>