<%= form_with(model: @record, local:true, url: record_new_or_edit_path?) do |f| %>
  <div class = "field">
   <%= f.label :record %><br>
   <%= f.text_area :content %>
  </div>

  <div>
   <%= f.submit %>
  </div>

  <% end %>
