<%= form_with(model: @yoga_record, local:true, url: yoga_record_new_or_edit_path?) do |f| %>
  <div class = "field">
   <%= f.label :yoga_record %><br>
   <%= f.text_area :content %>
  </div>

  <div>
   <%= f.submit %>
  </div>

  <% end %>
