<% 'application/sidebar' %>

<div class="posts-index">
<div>
    <div class="pics">写真一覧画面</div>
</div>

<div>
<div class="my_page">
<%= link_to '🐣 マイページへ行く  🐣', edit_user_registration_path(current_user.id) if current_user != nil%>
</div>
 <%= link_to '🧘‍♀️新しく写真を投稿する🧘‍♀️', new_post_path%><br>

    <div class="posts-index_list">
        <%= render @posts %>
    </div>
</div>

