.layouts-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2020;
  background: #ffff;
}

.layouts-appliocation {
  margin-top: 65px;;
  position: relative;
  &_sidebar {
    background-color: pink;
    width: 220px;
    height: calc(100vh - 65px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    padding-top: 30px;
  }
}